:root {
    --primary-red: #800020;
    --accent-gold: #c5a059;
    --dark-red: #4a0404;
    --bg-light: #f4f1ea;
    --white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-light);
}

header{
    display: flex;
    text-align: center;
    padding: 5px;
    justify-content: space-between;
    background-color: #5f0608;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
  color: #d19035;
  font-weight: bold;
  text-decoration: none;
}

.logo img {
  height: 120px;
  width: auto;
}

.logo:hover {
  color: #000;
}

nav {
  display: flex;
  gap: 25px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #d19035;
  font-size: 0.95em;
  font-weight: 600;
}

nav a:hover {
  color: #ffffff;
}

.logout-btn {
    margin-left: 20px;
    background-color: transparent;
    color: #d19035;
    border: 2px solid #d19035;
    border-radius: 10px;
    padding: 6px 14px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    background-color: #d19035;
    color: #530606;
    border:#d19035;
}

.logout {
  margin: 15px 20px;
  font-size: 0.9em;
  color: #333;
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    color: #5f0608;
    font-style: bold;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

.form-header p {
    margin-top: 10px;
    text-align: center;
}


.form-grid {
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.full-width {
    grid-column: span 2;
}

.input-box label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #888;
    text-transform: uppercase;
}

.input-field {
    display: flex;
    align-items: center;
    border: 1.5px solid #e0e0e0;
    border-radius: 6px;
    padding: 2px 12px;
}

.input-field span {
    color: var(--accent-gold);
    margin-right: 10px;
    font-size: 20px;
}

/* Estilo para Input e Select */
.input-field input, 
.input-field select {
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
    background: transparent;
    color: #444;
}

.form-actions {
    padding: 25px 40px;
    background: #f4f1ea;
    text-align: right;
    border-radius: 0 0 12px 12px;
}

.btn-submit {
    background-color: var(--accent-gold);
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
}

.btn-submit:hover {
    background-color: var(--dark-red);
    transform: translateY(-2px);
}



.success-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}
.icon-success {
    font-size: 80px;
    color: var(--accent-gold);
    margin-bottom: 20px;
} 