html {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    font-weight: bold;
    color: antiquewhite;
}

nav {
    display: grid;
    gap: 1px;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    height: 35px;
    width: 100%;
    border-top: 3px solid #c5a059;
    border-bottom: 3px solid #c5a059;
}

.botoes-navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2px;
    background-color: #800020;
}

.botoes-navegacao a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: antiquewhite;
    text-decoration: none;
    font-size: 0.8rem;
}

/* FUNDO */
body {
    height: 100%;
    width: 100%;
    background-color: #800020;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color:#f4f1ea;;
}

form {
    display: grid;
    height: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 500px; 
    background: #efe6db;
    border-radius: 30px;
    padding: 30px;
    box-shadow:
    0 15px 30px rgba(0,0,0,0.3),
    inset 0 1px 0 rgba(255,255,255,0.5);
}

/* INPUTS */
.caixa-organizadora {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

input {
    width: 100%;
    height: 55px;
    border-radius: 14px;
    border: none;
    background: #fffefedf;
    padding: 0 20px 0 50px;
    font-size: 15px;
    outline: none;
}

/* ÍCONES */
.caixa-organizadora i {
    height: 10%;
    position: absolute;
    top: 45%;
    left: 5%;
    color: #c89d42;
    font-size: 16px;
}

#caixa-adm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#eAdm {
    padding: 0%;
    height: 20%;
    width: 25px;
}

p {
    text-align: justify;
}

/* BOTÃO */
button {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 12px;

    background: linear-gradient(to bottom, #d8a246, #b8791c);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 6px 12px rgba(0,0,0,0.2);

    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
}

@media (max-width: 1200px) {
    form{
        width: 400px;
    }

    nav {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {

    form{
        width: 300px;
    }

    .botoes-navegacao {
        text-align: center;
        font-size: 0.5rem;
    }

    header {
        text-align: center;
        font-size: 2rem;
    }
}
